  <%= simple_form_for(Ordonnance.new) do |f| %>
  <div class="form-container">
    <%= f.input :last_name, label: "Nom", :input_html => { class: 'field' } %>
    <%= f.input :first_name, label: "Prénom", :input_html => { class: 'field' } %>
    <%= f.input :email, label: "Email", :input_html => { class: 'field' } %>
    <%= f.input :email, label: "Email", :input_html => { class: 'field' } %>
    <%#= f.input :photo, as: :attachinary %>
    <%= f.button :submit, "Envoyer mon ordonnance", class: "btn btn-primary btn-field"  %>
  <% end %>
  </div>
