<div class="card-container">
  <div class="cards">
  <%= link_to root_path  do %>
    <div class="card">
        <%= image_tag('phytotherapie.png', height: 150, width: 150)%>
      <p class="gamme-title">Phytothérapie</p>
    </div>
  <% end %>





    <div class="card">
      <%= image_tag'homeopathie.png', height: 150, width: 150 %>
      <p class="gamme-title">Homéopathie</p>
    </div>
    <div class="card">
      <%= image_tag 'gemmotherapy.png', height: 150, width: 150 %>
      <p class="gamme-title">Gemmothérapie</p>
    </div>
    <div class="card">
      <%= image_tag 'puericulture.png', height: 150, width: 150 %>
      <p class="gamme-title">Puériculture</p>
    </div>
    <div class="card">
      <%= image_tag 'orthopédie.png', height: 150, width: 150 %>
      <p class="gamme-title">Orthopédie</p>
    </div>
    <div class="card">
      <%= image_tag 'materiel_medical.png', height: 150, width: 150 %>
      <p class="gamme-title">Matériel Médical</p>
    </div>
    <div class="card">
      <%= image_tag 'complements_alimentaires.png', height: 150, width: 150 %>
      <p class="gamme-title">Complément Alimentaire</p>
    </div>
    <div class="card">
      <%= image_tag 'dermatologie.png', height: 150, width: 150 %>
      <p class="gamme-title">Dermatologie</p>
    </div>
    <div class="card">
      <%= image_tag 'vétérinaire.png', height: 150, width: 150 %>
      <p class="gamme-title">Vétérinaire</p>
    </div>
    <div class="card">
      <%= image_tag 'incontinence.png', height: 150, width: 150 %>
      <p class="gamme-title">Incontinence</p>
    </div>
    <div class="card">
      <%= image_tag 'optique.png', height: 150, width: 150 %>
      <p class="gamme-title">Optique</p>
    </div>
  </div>
</div>
