<div class="card-container">
  <div class="cards">
    <%= link_to phytotherapie_path  do %>
    <div class="card">
      <%= image_tag('phytotherapie.png', height: 150, width: 150)%>
      <p class="gamme-title">Phytothérapie</p>
    </div>
    <% end %>
    <%= link_to homeopathie_path  do %>
    <div class="card">
      <%= image_tag('homeopathie.png', height: 150, width: 150) %>
      <p class="gamme-title">Homéopathie</p>
    </div>
    <% end %>
    <%= link_to gemmotherapie_path  do %>
    <div class="card">
      <%= image_tag('gemmotherapy.png', height: 150, width: 150)%>
      <p class="gamme-title">Gemmothérapie</p>
    </div>
    <% end %>
    <%= link_to puericulture_path  do %>
    <div class="card">
      <%= image_tag('puericulture.png', height: 150, width: 150) %>
      <p class="gamme-title">Puériculture</p>
    </div>
    <% end %>
    <%= link_to orthopedie_path  do %>
    <div class="card">
      <%= image_tag('orthopedie.png', height: 150, width: 150) %>
      <p class="gamme-title">Orthopédie</p>
    </div>
    <% end %>
    <%= link_to materiel_medical_path  do %>
    <div class="card">
      <%= image_tag('materiel_medical.png', height: 150, width: 150) %>
      <p class="gamme-title">Matériel Médical</p>
    </div>
    <% end %>
    <%= link_to complements_alimentaires_path  do %>
    <div class="card">
      <%= image_tag('complements_alimentaires.png', height: 150, width: 150) %>
      <p class="gamme-title">Diététique / Micronutrition</p>
    </div>
    <% end %>
    <%= link_to dermatologie_path  do %>
    <div class="card">
      <%= image_tag('dermatologie.png', height: 150, width: 150) %>
      <p class="gamme-title">Dermatologie</p>
    </div>
    <% end %>
    <%= link_to veterinaire_path  do %>
    <div class="card">
      <%= image_tag('veterinaire.png', height: 150, width: 150) %>
      <p class="gamme-title">Vétérinaire</p>
    </div>
    <% end %>
    <%= link_to incontinence_path  do %>
    <div class="card">
      <%= image_tag('incontinence.png', height: 150, width: 150) %>
      <p class="gamme-title">Incontinence</p>
    </div>
    <% end %>
    <%= link_to optique_path  do %>
    <div class="card">
      <%= image_tag('optique.png', height: 150, width: 150) %>
      <p class="gamme-title">Optique</p>
    </div>
    <% end %>
    <%= link_to oncologie_path  do %>
    <div class="card">
      <%= image_tag('oncologie.png', height: 150, width: 150, id: "avatar") %>
      <p class="gamme-title">Accompagnement oncologie</p>
    </div>
    <% end %>
    <%= link_to fleurdebach_path  do %>
    <div class="card">
      <%= image_tag('fleurdebach.png', height: 150, width: 150, id: "avatar") %>
      <p class="gamme-title">Fleur de Bach</p>
    </div>
    <% end %>
  </div>
</div>
